.loader{
    position: relative;
    width: 100px;
    height: 100px;
    animation: animateBg 7s linear infinite;
}

@keyframes animateBg{
    0%{
        filter: hue-rotate(0deg);
    }

    100%{
        filter: hue-rotate(360deg);
    }
}

.loader span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: rotate(calc(24deg * var(--i)))
}

.loader span::before{
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    border-radius: 50%;
    background-color: rgb(107, 214, 0);
    width: 15px;
    height: 15px;
    box-shadow: 0 0 1px chartreuse,
                0 0 4px chartreuse,
                0 0 8px chartreuse;
    animation: animateContent 1s linear infinite;
    animation-delay: calc(0.065s * var(--i));           
}

@keyframes animateContent{
    0%{
        transform: scale(1);
    }

    80%,100%{
        transform: scale(0);
    }
}


