body{
    margin: 0;
}

ul{
    padding: 0;
}

ul li{
    list-style: none;
}

.App{
    
}

.hero{
    position: relative;
    width: 100%;
    height: 60vh;
    margin-bottom: 3rem;
    color: black;
}

.hero .wallpaper{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero .hero__desc{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero h1, .hero p{
    text-align: center;
    margin: auto;
    /* font-size: 40px; */
}

.hero h1{
    font-size: 50px;
    margin-bottom: 1rem;
}

.hero p{
    font-size: 30px;
}


.container{
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1280px;
    width: 1280px;
}

.container .search{
    display: flex;
    width: 100%;
}

.main{
    flex-basis: 60%;
}

.items-list{
    width: 100%;
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
}


.item{
    cursor: pointer;
    background-color: rgb(255, 204, 109);
    border-radius: 10px;
    padding: 0.7rem;
    margin: 0.5rem;        
}

.item:hover{
    background-color: rgb(255, 169, 89);
}

.item.selected{
    background-color: rgb(253, 140, 33);
}

.item.active{
    display: block;
}



.main{
    position: relative;    
}

.main::after{
    position: absolute;
    right: 0;
    top: 0;    
    content: '';
    height: 80%;
    width: 2px;
    background-color: black;
    transform: translateY(15%);
}

.main .search_input{
    width: 50%;
    font-size: 1rem;
    padding: 0.3rem;
}

.main button{
    outline: none;
    border: none;
    background-color: rgb(121, 253, 209);
    padding: 0.8rem;
    border-radius: 8px;
    font-size: 1rem;
    margin-right: 1rem;
    cursor: pointer;
}

.main button:hover{
    background-color: rgb(131, 231, 198);
}

.selected-area{
    padding-left: 1rem;
    flex-basis: 40%;
}

.selected-area .selected_items{
    display: flex;
    flex-wrap: wrap;
}

.selected-area .selected_items .selected_item{
    background-color: rgb(112, 162, 255);
    padding: 0.5rem;
    border-radius: 8px;
    margin: 0 1.5rem 1rem 0;
    display: flex;
    justify-content: center;
    
}


.result_section{
    display: flex;
    justify-content: space-between;
    
}

.results{
    width: 48%;
}

.card{
    height: 175px;
    cursor: pointer;    
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
    -webkit-box-shadow: 5px 5px 14px 3px #898989; 
    box-shadow: 5px 5px 10px 3px #898989;
    transition: all 200ms ease;
    border-radius: 10px;
}

.card:hover{
    transform: translate(-2px, -1px)
}

.blog_desc{
    max-height: 100px;
    /* white-space: nowrap; */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.blog_title,
.blog_blogger{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.blog_blogger{
    font-weight: bold;
}

.video{
    display: flex;
}

.video .video_desc{
    padding: 1rem;
}

.video .video_desc .video_title,
.video .video_desc .video_channel{
    margin-top: 0;
    max-height: 100px;    
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

@media (max-width: 1380px) {
    .video .video_thumbnail{
        width: 250px;
    }
}

@media (max-width: 1024px){
    .video .video_thumbnail{
        display: none;
    }
}

@media (max-width: 768px){
    .container{
        display: block;
    }

    .main::after{
        display: none;
    }

    .blog_title,
    .blog_blogger{
    white-space: normal;
    overflow: visible;
    text-overflow: clip;
    }

    .blog_desc{
        display: none;
    }




}