body{
    margin: 2rem;
}

ul{
    padding: 0;
}

ul li{
    list-style: none;
}

.container{
    display: flex;

    
}

.main{
    flex-basis: 60%;
}

.items-list{
    width: 100%;
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
}


.item{
    cursor: pointer;
    background-color: rgb(255, 204, 109);
    border-radius: 10px;
    padding: 0.5rem;
    margin: 0.5rem;    
    display: none;
}

.item:hover{
    background-color: rgb(255, 169, 89);
}

.item.selected{
    background-color: rgb(255, 169, 89);
}

.item.active{
    display: block;
}

.item-cancel{
    cursor: pointer;
    margin-left: 0.5rem;
    background-color: transparent;
    border: none;
    outline: none;
    color: rgb(150, 150, 150)
}

.item-cancel:hover{
    color: black;
}

.selected-area{
    flex-basis: 40%;
}